body {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

#card-wrapper {
    display: flex;
    flex-direction: column;
}

.card {
    display: block;
    margin: 20px auto;
    text-align: center;
}

.card-header {
    background-color: #6943FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body {
    background-color: #F4F4F4;
}
/*card header*/

#convert-btn {
    color: #3D3D3D;
}

/*card body*/
#result-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-para {
    color: #5A537B;
}

